<h2><%= @cocktail.name %></h2>
<p><%= @cocktail.dose.name %></p>
<p><%= @ingredient.name %></p>
<p><%= @dose.description  %></p>




<!--
<div class="col-md-4">
     <% @cocktail.dose.each do |dose| %>
       <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= plant.photo_url %>);">
         <div class="card-description">
           <h2><%= dose.name %></h2>
         </div>
         <%= link_to 'X', does_path(dose), method: :delete, class: 'card-user btn btn-danger' %>
       </div>
     <% end %>
   </div>
 </div>
 -->
